@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --font: "Figtree", sans-serif;
    --bg-color: #150e19;
    --text: #f0d5ff;
    --primary: #d688ff;
    --secondary: #d8aaff;
    --accent: #b077ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
    color: var(--text);
    font-family: var(--font);
    font-size: 20px;
    font-weight: 300;
    width: 640px;
    margin: 40px auto;
}
a{ 
    text-decoration: none;
 }
h1{
    font-weight: 300;
}
nav{
    margin: 24px 0px;
}
    nav a{
        padding: 12px 32px;
        background-color: var(--primary);
        border-radius: 8px;
        margin: 8px;
        color: #fff;
        transition: 500ms;
    }
    nav a:hover{
        background-color: var(--accent);
    }

#frase{
    background-color: hsl(278, 28%, 36%);
    padding: 16px;
    border-radius: 0px 16px 16px 16px;
    font-size: 24px;
    color: var(--primary);
}