@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Figtree', sans-serif;
    color: white;
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    background-image: url(../imgs/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: grid;
    grid-template-columns: minmax(400px, 30%);
    justify-content: center;
    align-items: center;
}
main{
    height: 320px;
    border-radius: 16px;
    background-color: rgba(0,0,0,.65);
    box-shadow: 0px 0px 8px rgba(0,0,0,.5);
}
    #caja{
        width: 128px;
        margin: 48px auto;
    }
        #caja img{
            width: 100%;
        }
        #boton{
            width: 50%;
            display: block;
            margin: auto;
            padding: 8px;
            font-family: 'Figtree', sans-serif;
            font-size: 24px;
            border-radius: 8px;
            border: 1px solid #8c8c8c;
            background-color: #cccccc;
            cursor: pointer;
            transition: 500ms;
        }
        #boton:hover{
            background-color: #d8d8d8;
            box-shadow: 0px 0px 8px #ffffff;
        }
